<a href="https://colab.research.google.com/github/gabyx7677/Proyectos/blob/Proyectos-Triple-Ten/ProyectoSprint2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Paso 1
En la última tarea de la primera parte de este proyecto escribiste código para:

- Eliminar todos los espacios iniciales y finales de los nombres, así como cualquier guion bajo.
- Convertir todas las edades en números enteros.
- Separar todos los nombres y apellidos en una sublista.

Hagámoslo ahora una función para que podamos usarla para fijar a cualquier cliente. Nombra a tu función clean_user. Debe recibir una lista con toda la información del cliente (user_info), así como dos enteros. Uno de ellos señala el índice del nombre del cliente y el otro es el índice de la edad del cliente en la lista. Debe devolver la lista limpia después de aplicar todos los cambios anteriores. Pruébala llamándola, pasándole la lista test_user[] y luego muéstrala en pantalla.

In [ ]:
#Propuesto

def clean_user(user_info, name_client_index, age_client_index): # define tu función aquí

    # Paso 1: elimina del nombre espacios iniciales y finales, así como guiones
    user_name_1 = user_info[name_client_index].strip().replace('_', ' ')

    # Paso 2: convierte la edad en entero
    user_age_1 = int(user_info[age_client_index])

    # Paso 3: separa el nombre y el apellido en una sublista
    user_name_1 = user_name_1.split()

    # Prepara la lista con la información completa del usuario
    # Reemplaza el nombre y la edad originales con los datos limpios
    user_info[0] = user_info[0]
    user_info[1] = user_name_1
    user_info[2] = user_age_1
    user_info[3] = [user_info[3]]
    user_info[4] = [user_info[4]]

    return [user_info[0], user_info[1], user_info[2], user_info[3], user_info[4]]

# Prueba la función
test_user = ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]
name_index = 1
age_index = 2

print(clean_user(test_user, name_index, age_index)) # completa aquí el llamado de la función

['32415', ['mike', 'reed'], 32, [['ELECTRONICS', 'SPORT', 'BOOKS']], [[894, 213, 173]]]

In [ ]:
#Presentado

from pprint import pprint

def clean_user1(user_info, name_client_index, age_client_index): # define tu función aquí

    # Paso 1: elimina del nombre espacios iniciales y finales, así como guiones
    user_name_1 = user_info[name_client_index].strip().replace('_', ' ')

    # Paso 2: convierte la edad en entero
    user_age_1 = int(user_info[age_client_index])

    # Paso 3: separa el nombre y el apellido en una sublista
    user_name_1 = user_name_1.split()

    # Prepara la lista con la información completa del usuario
    # Reemplaza el nombre y la edad originales con los datos limpios
    id = user_info[0]
    user_name_1
    user_age_1
    preferences= [user_info[3]]
    amount = [user_info[4]]

    return [id, user_name_1, user_age_1, preferences, amount]

# Prueba la función
test_user = ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]
name_index = 1
age_index = 2

print("Función 1:")
print()
print(clean_user1(test_user, name_index, age_index)) # completa aquí el llamado de la función
print()

def clean_user2(user_info, name_client_index, age_client_index): # define tu función aquí
    users_cleaned = [] #Crea una lista vacia donde almacenar los datos limpios
    for user in user_info: #Recorre la lista por cada uno de sus indices
        # Paso 1: elimina del nombre espacios iniciales y finales, así como guiones
        user_name_1 = user[name_client_index].strip().replace('_', ' ')

        # Paso 2: convierte la edad en entero
        user_age_1 = int(user[age_client_index])

        # Paso 3: separa el nombre y el apellido en una sublista
        user_name_1 = user_name_1.split()

        # Prepara la lista con la información completa del usuario
        # Reemplaza el nombre y la edad originales con los datos limpios
        id = user[0]
        user_name = user_name_1
        user_age = user_age_1
        preferences = user[3]
        amount = user[4]
        users_cleaned.append([id, user_name, user_age, preferences, amount])
    return users_cleaned

# Prueba la función
test_user = [
    ['91827', ' alice_wong ', 25.0, ['MUSIC', 'TRAVEL', 'BOOKS'], [634, 199, 821]],
    ['96548', ' bruno_mars_77 ', 34.0, ['TECH', 'SPORTS', 'MOVIES'], [723, 284, 192]],
    ['85677', ' natalie_porter_999 ', 19.0, ['COOKING', 'MUSIC', 'ART'], [801, 390, 245]],
    ['71547', ' samuel_ortiz ', 45.0, ['DOCUMENTARIES', 'NATURE', 'BOOKS'], [945, 612, 778]],
    ['14567', ' valeria_montes_', 31.0, ['PHOTOGRAPHY', 'FASHION', 'BOOKS'], [768, 234, 166]]
]
name_index = 1
age_index = 2

print("Función 2:")
print()
pprint(clean_user2(test_user, name_index, age_index)) # completa aquí el llamado de la función

Función 1:

['32415', ['mike', 'reed'], 32, [['ELECTRONICS', 'SPORT', 'BOOKS']], [[894, 213, 173]]]

Función 2:

[['91827',
  ['alice', 'wong'],
  25,
  ['MUSIC', 'TRAVEL', 'BOOKS'],
  [634, 199, 821]],
 ['96548',
  ['bruno', 'mars', '77'],
  34,
  ['TECH', 'SPORTS', 'MOVIES'],
  [723, 284, 192]],
 ['85677',
  ['natalie', 'porter', '999'],
  19,
  ['COOKING', 'MUSIC', 'ART'],
  [801, 390, 245]],
 ['71547',
  ['samuel', 'ortiz'],
  45,
  ['DOCUMENTARIES', 'NATURE', 'BOOKS'],
  [945, 612, 778]],
 ['14567',
  ['valeria', 'montes'],
  31,
  ['PHOTOGRAPHY', 'FASHION', 'BOOKS'],
  [768, 234, 166]]]

****Pista****

Para implementar la función clean_user, efectúa los siguientes pasos:

Recortar y reemplazar: utiliza strip() para eliminar espacios iniciales y finales del nombre del usuario y replace('_', ' ') para eliminar guiones bajos con espacios.
Convertir la edad: convierte la edad en entero utilizando la función int().
Separar el nombre: utiliza el método split() para separar el nombre y el apellido, creando una sublista.
Asegúrate de modificar la lista user_info que aparece actualizando el nombre y la edad con los datos limpios antes de devolver la lista. Prueba tu función con un usuario de ejemplo para verificar que funciona correctamente.

<div style="background-color:#e0f0ff; padding:10px; border-radius:8px;">
  Decidí realizar el caso más general implementando una función que itere una lista de listas (tabla) y realizara el mismo proceso de limpieza
</div>

# Paso 2

Observa que todas las categorías favoritas están almacenadas en mayúsculas. Llena una nueva lista llamada `fav_categories_low` con las mismas categorías, pero en minúsculas, iterando sobre los valores en la lista `fav_categories`, modificándolos y luego añade los nuevos valores a la lista `fav_categories_low`. Como siempre, muestra el resultado final.

In [ ]:
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']
fav_categories_low = []

# escribe tu código aquí
for categorie in fav_categories:
    fav_categories_low.append(categorie.lower())

print(fav_categories_low)

['electronics', 'sport', 'books']

********Pista********

Crea un bucle `for` que itere sobre la lista `fav_categories`. Utiliza el método `lower()` para transformar cada categoría a minúsculas. Luego, utiliza el método `append()` para agregar los valores actualizados a la lista `fav_categories_low`.

# Paso 3

Ahora hagamos lo mismo, pero para cada uno de los usuarios de la empresa. Llena una lista nueva llamada `users_categories_low` con los mismos usuarios, pero con sus categorías en minúsculas, iterando sobre los valores en la lista `users`, luego itera sobre los valores en `user_categories`, modificándolos, y después agrega los nuevos valores de usuarios a la lista `users_categories_low`. Como siempre, muestra el resultado final.

In [ ]:
from pprint import pprint
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

users_categories_low_1 = []
for user in users:
	categories_low = []
	for category in user[3]: # escribe tu código aquí
		lowered_category = category.lower()
		categories_low.append(lowered_category)
	user[3] = categories_low #En este caso se remplaza directamente el valor de user[3] sin necesidad de usar pop() e insert()
	users_categories_low_1.append(user)
		# escribe tu código aquí

# escribe tu código aquí

print("Ciclo 1: user_categories_low_1")
print()
pprint(users_categories_low_1)
print()
print()
print()


from pprint import pprint

users_categories_low_2 = []

for user in users:
    # Creamos una lista nueva para las categorías en minúsculas
    categories_low = []

    # Iteramos sobre la lista de categorías (que está en user[3])
    for category in user[3]:
        lowered_category = category.lower()
        categories_low.append(lowered_category)

    # Quitamos la lista original de categorías
    user.pop(3)
                            #En este caso usamos las funciones pop() e insert() para hacer el cambio
    # Insertamos la nueva lista en minúsculas en la misma posición
    user.insert(3, categories_low)

    # Agregamos el usuario actualizado a la lista final
    users_categories_low_2.append(user)

# Mostramos el resultado
print("Ciclo 2: user_categories_low_2")
print()
pprint(users_categories_low_2)

Ciclo 1 user_categories_low_1

[['32415',
  ' mike_reed ',
  32.0,
  ['electronics', 'sport', 'books'],
  [894, 213, 173]],
 ['31980', 'kate morgan', 24.0, ['clothes', 'books'], [439, 390]],
 ['32156', ' john doe ', 37.0, ['electronics', 'home', 'food'], [459, 120, 99]],
 ['32761',
  'SAMANTHA SMITH',
  29.0,
  ['clothes', 'electronics', 'beauty'],
  [299, 679, 85]],
 ['32984', 'David White', 41.0, ['books', 'home', 'sport'], [234, 329, 243]],
 ['33001', 'emily brown', 26.0, ['beauty', 'home', 'food'], [213, 659, 79]],
 ['33767',
  ' Maria Garcia',
  33.0,
  ['clothes', 'food', 'beauty'],
  [499, 189, 63]],
 ['33912',
  'JOSE MARTINEZ',
  22.0,
  ['sport', 'electronics', 'home'],
  [259, 549, 109]],
 ['34009', 'lisa wilson ', 35.0, ['home', 'books', 'clothes'], [329, 189, 329]],
 ['34278',
  'James Lee',
  28.0,
  ['beauty', 'clothes', 'electronics'],
  [189, 299, 579]]]



Ciclo 2 user_categories_low_2

[['32415',
  ' mike_reed ',
  32.0,
  ['electronics', 'sport', 'books'],
  [894, 213, 173]],
 ['31980', 'kate morgan', 24.0, ['clothes', 'books'], [439, 390]],
 ['32156', ' john doe ', 37.0, ['electronics', 'home', 'food'], [459, 120, 99]],
 ['32761',
  'SAMANTHA SMITH',
  29.0,
  ['clothes', 'electronics', 'beauty'],
  [299, 679, 85]],
 ['32984', 'David White', 41.0, ['books', 'home', 'sport'], [234, 329, 243]],
 ['33001', 'emily brown', 26.0, ['beauty', 'home', 'food'], [213, 659, 79]],
 ['33767',
  ' Maria Garcia',
  33.0,
  ['clothes', 'food', 'beauty'],
  [499, 189, 63]],
 ['33912',
  'JOSE MARTINEZ',
  22.0,
  ['sport', 'electronics', 'home'],
  [259, 549, 109]],
 ['34009', 'lisa wilson ', 35.0, ['home', 'books', 'clothes'], [329, 189, 329]],
 ['34278',
  'James Lee',
  28.0,
  ['beauty', 'clothes', 'electronics'],
  [189, 299, 579]]]

********Pista********

Crea un bucle `for` que itere sobre la lista `users`. Luego crea otro bucle `for` que itere sobre las categorías de usuarios para acceder al usuario y modificarlo. Utiliza el método `lower()` para transformar cada categoría a minúsculas. Luego, modifica al usuario eliminando la lista de categorías anteriores con `pop()` y con `insert()` inserta la nueva en su lugar. A continuación utiliza el método `append()` para agregar a los usuarios actualizados a la lista `users_categories_low`.

<div style="background-color:#e0f0ff; padding:10px; border-radius:8px;">
  Quise experimentar con los diferentes tipos de formas de hacer que el valor de una lista cambié, ya sea remplazandolo por psos con el método pop() e insert() o inmediatamente usando la variable indexada como es en este caso de la lista category, los resultados son iguales.
</div>

# Paso 4

Ahora, completemos el código de nuestra función `clean_user` para limpiar la categoría:
1. Añade otro parámetro con el índice de categorías.
2. Pon todos los nombres en minúsculas antes de aplicar "strip" y "replace".

Después, crea un bucle y aplica tu función a toda la lista de usuarios, agregando tus resultados a la lista `users_clean`. Después muéstralo

In [ ]:
from pprint import pprint


def clean_user_1(user_info, name_index, age_index, cat_index):

  # Paso 1: pon todo en minúsculas y elimina del nombre espacios iniciales y finales, así como guiones
  user_name_1 = user_info[name_index].lower().strip().replace("_", " ") # escribe tu código aquí

  # Paso 2: convierte la edad en entero
  user_age_1 = int(user_info[age_index]) # escribe tu código aquí

  # Paso 3: separa el nombre y el apellido en una sublista
  user_name_1 = user_name_1.split()# escribe tu código aquí

  # Paso 4: poner categorías en minúsculas
  categories_low = []
  for category in user[3]:
    lowered_category = category.lower()
    categories_low.append(lowered_category)# escribe tu código aquí


    id = user_info[0]
    user_name_1
    user_age_1
    categories_low
    amount = user_info[4] # Prepara la lista con la información completa del usuario
  # Reemplaza el nombre y la edad originales con los datos limpios
  # escribe tu código aquí

  return [id, user_name_1, user_age_1, categories_low, amount]


users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

name_index = 1
age_index = 2
cat_index = 3
users_cleaned_1 = []

for user in users:# escribe tu código aquí
  user_cleaned = clean_user_1(user, name_index, age_index, cat_index)# escribe tu código aquí
  users_cleaned_1.append(user_cleaned)# escribe tu código aquí
print("Caso 1: usando función clean_user_1")
print()
pprint(users_cleaned_1)
print()


def clean_user_2(user_info, name_index, age_index, cat_index):
    users_cleaned = []
    for user in user_info:
        user_id = user[0]
        user_name = user[name_index].lower().strip().replace("_", " ").split()  # Paso 1: pon todo en minúsculas y elimina del nombre espacios iniciales y finales, así como guiones, tambien parte el string
        user_age = int(user[age_index]) # Paso 2: convierte la edad en entero
        #categories = [category.lower() for category in user[cat_index]]
        categories = [] # Paso 3: hace que las categorias queden en minuscula
        for category in user[cat_index]:
            categories.append(category.lower())
        amounts = user[4]

        users_cleaned.append([user_id, user_name, user_age, categories, amounts])
    return users_cleaned

print("Caso 2: usando función clean_user_2")
print()
users_cleaned_2 = clean_user_2(users, name_index, age_index, cat_index)
pprint(users_cleaned_2)

Caso 1: usando función clean_user_1

[['32415',
  ['mike', 'reed'],
  32,
  ['electronics', 'sport', 'books'],
  [894, 213, 173]],
 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
 ['32156',
  ['john', 'doe'],
  37,
  ['electronics', 'home', 'food'],
  [459, 120, 99]],
 ['32761',
  ['samantha', 'smith'],
  29,
  ['clothes', 'electronics', 'beauty'],
  [299, 679, 85]],
 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
 ['33767',
  ['maria', 'garcia'],
  33,
  ['clothes', 'food', 'beauty'],
  [499, 189, 63]],
 ['33912',
  ['jose', 'martinez'],
  22,
  ['sport', 'electronics', 'home'],
  [259, 549, 109]],
 ['34009',
  ['lisa', 'wilson'],
  35,
  ['home', 'books', 'clothes'],
  [329, 189, 329]],
 ['34278',
  ['james', 'lee'],
  28,
  ['beauty', 'clothes', 'electronics'],
  [189, 299, 579]]]

Caso 2: usando función clean_user_2

[['32415',
  ['mike', 'reed'],
  32,
  ['electronics', 'sport', 'books'],
  [894, 213, 173]],
 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
 ['32156',
  ['john', 'doe'],
  37,
  ['electronics', 'home', 'food'],
  [459, 120, 99]],
 ['32761',
  ['samantha', 'smith'],
  29,
  ['clothes', 'electronics', 'beauty'],
  [299, 679, 85]],
 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
 ['33767',
  ['maria', 'garcia'],
  33,
  ['clothes', 'food', 'beauty'],
  [499, 189, 63]],
 ['33912',
  ['jose', 'martinez'],
  22,
  ['sport', 'electronics', 'home'],
  [259, 549, 109]],
 ['34009',
  ['lisa', 'wilson'],
  35,
  ['home', 'books', 'clothes'],
  [329, 189, 329]],
 ['34278',
  ['james', 'lee'],
  28,
  ['beauty', 'clothes', 'electronics'],
  [189, 299, 579]]]

********Pista********

Efectúa los siguientes pasos para implementar la función `clean_user`:

1. **Copia y adapta:** copia el código de tu función anterior `clean_user`.

2. **Pon el nombre en minúsculas:** antes de aplicar `split()` y `replace()`, aplica `lower()` al nombre del cliente.

3. **Procesa las categorías:** agrega una sección nueva para gestionar las categorías. Pon cada categoría de la lista en minúsculas y almacénalas en una nueva lista.

4. **Ejecuta tu código:** asegúrate de que la función `clean_user` actualice la lista `user_info` con el nombre, edad y categorías limpias. Haz un bucle en la lista `users` y llama a la función `clean_user`, pasando el usuario, `name_index`, `age_index` y `cat_index` para especificar los índices correctos para el nombre, la edad y las categorías, respectivamente.

5. Guarda cada nuevo usuario limpio en la lista nueva `users_cleaned`.

Muestra en pantalla la lista `users_cleaned` para asegurarte de que tu código realiza las respectivas transformaciones.

<div style="background-color:#e0f0ff; padding:10px; border-radius:8px;">
  Quise implementar dos funciones distintas para hacer la misma función, veo que la primera itera en cada lista de la lista principal y realiza el proceso con ayuda de un ciclo for, es decir, en vez de la función hacer que la variables (la lista de listas) itere dentro de la función, la función simplemnete actúa sobre cada sublista de manera iterada con ayuda de un ciclo for externo, sin embargo, quise implemntar una función que iterara la variable lista de listas completa.
</div>

# Paso 5

La empresa desea conocer sus ingresos totales y te pide que proporciones este valor.
Para calcular los ingresos de la empresa, sigue estos pasos:

1. Utiliza `for` para iterar sobre la lista `users`.
2. Extrae la lista de gastos de cada usuario y suma los valores.
3. Actualiza el valor de los ingresos con el total de cada usuario.

Así obtendrás los ingresos totales de la empresa que mostrarás en la pantalla al final.

In [ ]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

revenue = 0

for user in users:
    gastos = user[4]
    revenue += sum(gastos)

print(revenue)

a = sum([894, 213, 173, 439, 390, 459, 120, 99, 299, 679, 85, 234, 329, 243, 213, 659, 79, 499, 189, 63, 259, 549, 109, 329, 189, 329, 189, 299, 579])
print(a)

9189
9189

****Pista****

Para extraer la lista de gastos realizados por un usuario, utiliza la indexación y asígnala a la variable spendings_list. Luego, utiliza la función integrada para calcular la suma de spending_list. Por último, actualiza el valor de revenue añadiéndole total_spendings mediante la asignación aumentada.

<div style="background-color:#e0f0ff; padding:10px; border-radius:8px;">
   Implementé la funcionalidad de suma de gastos con un ciclo for, al final revisé si la suma era congruente con lo que se pedía
</div>

# Paso 6

La empresa quiere ofrecer descuentos a sus clientes leales. Los clientes que realizan compras por un importe total mayor a $1500 se consideran leales y recibirán un descuento.

Nuestro objetivo es crear un bucle `while` que compruebe el importe total gastado y se detenga al alcanzarlo. Para simular nuevas compras, la variable `new_purchase` genera un número entre 30 y 80 en cada iteración del bucle. Esto representa la cantidad de dinero gastada en una nueva compra y es lo que debes agregar al total.

Una vez que se alcance el importe objetivo y se termine el bucle `while`, se mostrará la cantidad final.

In [ ]:
from random import randint

total_amount_spent = 1280
target_amount = 1500

while total_amount_spent < target_amount:# escribe tu código aquí
	new_purchase = randint(30, 80) # generamos un número aleatorio de 30 a 80
	total_amount_spent +=  new_purchase # escribe tu código aquí

print(total_amount_spent)

1564

********Pista********

En el bucle `while`, debes comparar `total_amount_spent` (importe total gastado) con `target_amount` (importe objetivo). Durante cada iteración del bucle, actualiza la variable `total_amount_spent` agregándole el valor `new_purchase`.

<div style="background-color:#e0f0ff; padding:10px; border-radius:8px;">
   Implementé la funcionalidad en el ciclo while, si bien obtiene valores por encima a 1500 se debe a la funcion randint
</div>

# Paso 7

Recorre la lista de usuarios que te hemos proporcionado y muestra los nombres de los clientes menores de 30 años.

In [ ]:
from pprint import pprint

users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

for user in users:
  if user[2] >= 30:
     nombre = " ".join(user[1])
     print(nombre)

mike reed
john doe
david white
maria garcia
lisa wilson

********Pista********

Utiliza el bucle for para iterar sobre cada fila de la tabla. Utiliza `if` dentro de un bucle `for` para imprimir el nombre de usuario o usuaria. El campo `age` tiene el índice 2

<div style="background-color:#e0f0ff; padding:10px; border-radius:8px;">
   Implementé la funcionalidad en el ciclo for, luego con el condicional se ajusta para que solo se tengan en cuenta los usuarios mayores a 30, la función join une la lista como un string para luego mostrarlo en pantalla con un print.
</div>

# Paso 8

Mostremos en pantalla los nombres de los usuarios menores de 30 años que acumulan un gasto total superior a 1000 dólares.

In [ ]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

for user in users:
  if user[2] <= 30 and sum(user[4]) >= 1000:
     nombre = " ".join(user[1])
     suma = sum(user[4])
     print(nombre)
     print(suma) # escribe tu código aquí

samantha smith
1063
james lee
1067

********Pista********

Utiliza el bucle for para iterar sobre cada fila de la tabla. Utiliza `if` dentro de un bucle `for` para imprimir el nombre de usuario o usuaria. El campo `age` tiene el índice 2. Utiliza la función `sum` para sumar los gastos y luego comprueba si es mayor de 1000 dólares.

<div style="background-color:#e0f0ff; padding:10px; border-radius:8px;">
   Implementé la funcionalidad en el ciclo for, luego con el condicional se ajusta para que solo se tengan en cuenta los usuarios menores a 30 con gastos mayores a 1000 con la concatenación "and", la función join une la lista como un string para luego mostrar en pantalla con un print el nombre de la persona y la suma de sus gastos, se verifican al final que las sumas sean mayor a 1000 solo por verificar.
</div>

# Paso 9

Ahora vamos a mostrar el nombre y la edad de todos los usuarios y todas las usuarias que han comprado ropa ("clothes"). Imprime el nombre y la edad en la misma declaración print.

In [ ]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

for user in users:
    for categoria in user[3]:  # Recorremos las categorías de ese usuario
        if categoria == "clothes":
            nombre = " ".join(user[1])
            edad = user[2]
            print(nombre, edad)
            break  # Evita imprimir varias veces si hay más de una coincidencia

kate morgan 24
samantha smith 29
maria garcia 33
lisa wilson 35
james lee 28

In [ ]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

for user in users:
    categorias = user[3]
    if "clothes" in categorias:
        nombre = " ".join(user[1])
        edad = user[2]
        print(nombre, edad) # escribe tu código aquí# escribe tu código aquí

kate morgan 24
samantha smith 29
maria garcia 33
lisa wilson 35
james lee 28

********Pista********

Utiliza el bucle for para iterar sobre cada fila de la tabla. A continuación, utiliza otro bucle para comprobar si este usuario ha comprado ropa ("clothes") y, en caso afirmativo, muestra el nombre y la edad dentro de la misma declaración print, separándolos por comas: `print(firstname, age)`.

<div style="background-color:#e0f0ff; padding:10px; border-radius:8px;">
   Implementé la funcionalidad en los ciclos for, en donde el primero itera en la tabla y el segundo en la lista buscando la coincidencia de "clothes", se declara la variables para la edad y se imprime para cada iteración, en el segundo ejemplo se hace solo con un ciclo declarando directamente que las categorias estan en "user[3]" para luego unir el nombre y declarar la edad para mostrar por pantalla.
</div>

# Paso 10

La dirección requiere de una función que proporcione información sobre los clientes, incluyendo sus nombres, edades y gasto total, filtrada por categorías específicas. Con base en fragmentos de código anteriores, crearemos una función llamada `get_client_by_cat` con las siguientes especificaciones:

1. **Parámetros:**
   - **users:** una lista con los datos de los usuarios.
   - **id_index:** el índice donde está almacenado el ID del cliente en la lista de usuarios.
   - **name_index:** el índice donde está almacenado el nombre del cliente en la lista de usuarios.
   - **age_index:** el índice donde la edad del cliente está almacenada en la lista de usuarios.
   - **category_index:** el índice donde las categorías de compras del cliente están listadas.
   - **amounts_index:** el índice donde las cantidades gastadas en cada categoría están almacenadas.
   - **filter_category:** un string que representa el nombre de la categoría para filtrar clientes.

2. **Salida:**
   - La función devuelve una lista de sublistas. Cada sublista contiene:
     - El número ID del cliente.
     - Una sublista con el nombre y apellido del cliente.
     - La edad del cliente.
     - Un entero que representa la cantidad total gastada por el cliente.

Por ejemplo, si llamas a la función con los siguientes parámetros:


```python
get_client_by_cat([
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]]
], 0, 1, 2, 3, 4, 'books')
```

La salida será:

```python
[['32415', ['mike', 'reed'], 32, 1280]]
```

Esta salida muestra que el cliente con el ID '32415', llamado Mike Reed, de 32 años, gastó un total de 1280 en la categoría 'books' y otras compras.

Después de hacer tu función, llámala pasándole nuestra lista de usuarios, los índices adecuados y la categoría 'home' y muestra en pantalla la lista que resulta.

In [ ]:
from pprint import pprint

def get_client_by_cat(users_list, id_index, name_index, age_index, category_index, amounts_index, filter_category):
  resultado = []
  for user in users_list:
    if filter_category in user[category_index]: #Filtra por la categoria seleccionada
      id = user[id_index]
      name_array = user[name_index]
      age = user[age_index]
      amounts = user[amounts_index]
      total_amount = sum(amounts)
      resultado.append([id, name_array, age, total_amount]) #Acá se almacena la lista en la lista vacia resultado para cada ciclo
  return resultado # escribe tu código aquí

# La lista de usuarios
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]
]

# Llama a la función con la categoría 'home'
result = get_client_by_cat(users, 0, 1, 2, 3, 4, "home")# escribe tu código aquí

# Muestra en pantalla la lista que resulta
pprint(result)

[['32156', ['john', 'doe'], 37, 678],
 ['32984', ['david', 'white'], 41, 806],
 ['33001', ['emily', 'brown'], 26, 951],
 ['33912', ['jose', 'martinez'], 22, 917],
 ['34009', ['lisa', 'wilson'], 35, 847]]

In [ ]:
from pprint import pprint

def get_client_by_cat(users_list, category_index, filter_category):
  new_list = []
  for user in users_list:
    if filter_category in user[category_index]:
      id = user[0]
      name_array = user[1]
      age = user[2]
      bills_sum = sum(user[4])
      new_list.append([id, name_array, age, bills_sum])# escribe tu código aquí
  return new_list # escribe tu código aquí

# La lista de usuarios
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]
]

# Llama a la función con la categoría 'home'
result = get_client_by_cat(users, 3, "books")# escribe tu código aquí

# Muestra en pantalla la lista que resulta
pprint(result)

[['32415', ['mike', 'reed'], 32, 1280],
 ['31980', ['kate', 'morgan'], 24, 829],
 ['32984', ['david', 'white'], 41, 806],
 ['34009', ['lisa', 'wilson'], 35, 847]]

In [ ]:
from pprint import pprint

def get_client_by_cat(users_list, category_index, filter_category):
      return [
          [user[0], user[1], user[2], sum(user[4])]
          for user in users_list if filter_category in user[category_index]
      ]

# Lista de usuarios
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]
]

# Llamada e impresión
pprint(get_client_by_cat(users, 3, "books"))

[['32415', ['mike', 'reed'], 32, 1280],
 ['31980', ['kate', 'morgan'], 24, 829],
 ['32984', ['david', 'white'], 41, 806],
 ['34009', ['lisa', 'wilson'], 35, 847]]

********Pista********

Utiliza un bucle for para iterar sobre cada usuario en la lista. Para cada usuario, verifica que la categoría deseada ("filter_category") esté en su lista de categorías de compras. Si se encuentra la categoría, calcula la cantidad total gastada sumando las cantidades en la lista correspondiente. Después, crea una sublista con el ID, nombre (como una lista de nombres y apellidos), edad y cantidad total gastada del usuario. Añade esta sublista a la lista final que resulta.

<div style="background-color:#e0f0ff; padding:10px; border-radius:8px;">
   Quise realizar tres ejemplos distintos, si bien el primero ejemplo sirve para dar a entender correctamente el principio de indexación en los estudiantes quise realizar dos ejemplos más con el código más compacto ya que el conocer la dispocisión original de los datos, es decir, en que indices se uvica la información me permite declarar esa información al principio de mi función.
</div>